/* General styles */

*{
  font-family: Open Sans;
  font-size: 15px;
  box-sizing: border-box;
  border:none;
  outline:none;
}
*:active{
  border:none;
  outline:none;
}
*:focus{
  outline:none !important;
}
a:hover{
  text-decoration:none !important;
}
:root{
  --main-blue:#559bf7;
  --main-grey:#acacac;
  --dark-grey:#2f3542;

}

/* Table of Users Classes */
.d-n{
  display:none;
}
.d-n::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

.dashboard-route{
  height:200px;
}

/* Errors pages */

.err-num{
  display:block;
  width:50%;
  margin:2em auto;
}
.err-title{
  font-family: Montserrat;
  font-weight: bold;
  font-size:9vw;
}
.err-paragraph{
  font-size: 3.5vw;
  color: #a8a8a8;
}
.err-container a{
  font-size: 1.7vw;
  text-decoration: underline;
  transition: .1s all ease-in-out;
}
.err-container a:hover{
  color:#339eec;
}

/*  Error 404 */



/* Navbar */
.main-nav{
  background:white;
  border-bottom: 1px solid #f5f5f5;
}
.main-nav img{
  width:200px;
}
.main-nav .nav-item ion-icon{
  font-size:23px;
  color: #d7d5d5;
  height:40px;
  margin:0 .3em;
}
.nav-avatar img{
  width:40px;
  border-radius: 50%;
}

.nav-avatar{
  margin:0 1em;
}

/* Sidebar */
.wrapper{
  display: flex;
  width:100%;
  align-items: stretch;
  padding: 0 .5em;

}
.content-wrapper{
  width:100%;
  padding:0 .5em;
}
.sidebar{
  background: white;
  color: white;
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  transition: all .3s ease-in-out;
}
.sidebar.active {
  margin-left: -300px;
}
.user-section{
  margin-top:1em;
  text-align: center;
  padding-bottom:.5em;
  border-bottom: 1px solid #f5f5f5;
}
.user-section a{
  font-family: Open Sans;
  color: var(--blue);
  font-weight: 600;
  font-size: 15px;
  margin-top: 0.3em;
  display: inline-block;
}
.user-avatar{
  width:40px;
  height:40px;
  background-size: cover;
  border-radius:50%;
  margin:0 auto;
}
.secondary-nav{
  justify-content: center !important;
}
.secondary-nav li{
  margin:0 .3em;
}
.secondary-nav ion-icon{
  color: #d7d5d5;
  font-size:20px;
}
.routes-section{

}
.routes-section div{
  border-bottom: 1px solid #f5f5f5;
}
.routes-section div a{
  padding:1em 0;
  color: #7e7e7e;
  font-weight: 600;
}
.routes-section div ion-icon{
  padding:1em 0 !important;
  color:var(--blue);
  font-size:18px;
}

.collapse-btn{
  position: absolute;
  left: 2%;
  font-size: 40px;
  color: white;
  top: 54px;
  background: var(--blue);
  border-radius: 50%;
  font-size: 20px;
  padding: .3em;
}
.hiddenSideBar{
  display: none;
}
/* Dashboard sections */
body{
  background:#f9f9f9  !important;
}
.sections{
  margin:1.5em 0 !important;
  justify-content:space-between;
  transition: all .5s ease-in-out;
}
.section{
  padding:0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  background:white;
  -webkit-box-shadow: 0px 12px 34px -18px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 12px 34px -18px rgba(0,0,0,0.7);
  box-shadow: 0px 12px 34px -18px rgba(0,0,0,0.7);
}
.section>div{
  color:white;
  text-align: center;
  height:70px;
  line-height: 70px;
}
.section ion-icon{
  display: inline-block;
  font-size: 25px;
  padding:0;
}
.section a{
  align-self: center;
  font-family: Open Sans;
  font-weight: 600;
  color: #424242;
  font-size:15px;
}

/* Todo list */

.todos{
  background:#fcfcfc;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  padding:1em;
  display: block;
  width:100%;
  margin:1em auto;
  margin-bottom: 2em;
  padding:0;
  transition:all .5s ease-in-out;
}
.todo-heading{
  background: linear-gradient(to right, rgba(85,155,247,1) 0%, rgba(59,120,189,1) 100%);
  color:white;
  height:60px;
}
.todo-heading ion-icon{
  font-size: 30px;
  align-self: center;
  padding-left:.5em !important;
}
.todo-heading h2{
  align-self:center;
  text-align: center;
  padding:0 !important;
  margin:0;
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 600;
}

.todo{
  background:white;
  height:60px;
  border-radius: 2em;
  margin: 1em .5em !important;
  padding: 0 .5em;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  transition:all .5s ease-in-out;
}
.todo *{
  padding:0 !important;
  margin:0 !important;
}

.update-content-todo{
  background: white;
  font-family:Raleway;
  font-size:17px;
  color:var(--dark-grey);
  font-weight: 500;
  overflow: hidden;
  align-self:center;
  padding:0 .3em !important;
}

.todo button{
  display: inline-block;
  width:15px;
  height:15px;
  border:none;
  background:none;
  padding:.2em;
}
.todo .check-btn{
  line-height: 45px;
}
.todo .undoneTodo,.todo .doneTodo{
  align-self: center;
  border-radius:50%;
  border:3px solid #515151;
  margin: 0 0.2em 0 1em !important;
}

.todo .undoneTodo{
  border:3px solid var(--main-blue);
  background:var(--main-blue);

}

.todo .delete-btn{
  height:60px;
  color:#ee5253;
}
.todo ion-icon{
  height: inherit;
  font-size:20px;
  line-height: 50px;
}

.done{
  text-decoration: line-through;
  color:var(--main-grey);
  font-style: italic;
}

.add-todo input{
  background:#fcfcfc;
  height:50px;
  border:none;
  padding: 1em 1.5em 0 1.5em;
  margin-bottom:.3em;
  font-size:17px;
}
.add-todo .underline{
  padding: 0 1.5em 0 1.5em;
  height:2px;
  width:0;
  background:var(--main-blue);
  visibility: hidden;
  transition:.3s all ease-in-out;
}

.add-todo button{
  display: block;
  text-align: center;
  margin: 0 auto;
  width:50px;
  height:50px;
  border-radius:50%;
  background: linear-gradient(to right, rgba(85,155,247,1) 0%, rgba(59,120,189,1) 100%);
  border:none;
  color:white;
  position: relative;
  top: 25px;
}
.add-todo ion-icon{
  height:inherit;
  font-size:23px;
  font-weight: bold;
  line-height: 40px;
  color:white;
}

.add-generation-inp{
  display: block;
}

.pdp-box{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  height:50px;
  width:50px;
}

/* Market dashboard */

.m-section{
  height:auto !important;
  padding:.7em 0 !important;
  margin-left: 0 !important;
}

.m-section h2{
  font-size:18px;
  margin:0;
}
.m-section ion-icon{
  font-size:30px;

}
.m-section+div{
  text-align:center;
  margin-left: auto;
}
.add-btn{
  display: block;
  text-align: center;
  margin: 0 auto;
  width:30px;
  height:30px;
  border-radius:50%;
  background: linear-gradient(to right, rgba(85,155,247,1) 0%, rgba(59,120,189,1) 100%);
  border:none;
  color:white;
  position: relative;
  bottom:12px;
}
.add-btn ion-icon{
  display:block;
  height:30px;
  font-size:15px;
  font-weight: bold;
  line-height: 30px;
  color:white;
  width:55%;
  margin:0 auto;
}

/* Blog Dashboard */

.b-container{
  margin:2em auto !important;
  justify-content: space-around;
}
.b-section{
  justify-content: center;
  text-align: center;
  background:white;
  padding:2em .5em;
  color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}
.b-section a:first-child{
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 600;
  margin-top: 0.2em;
}
.b-section a:hover{
  text-decoration:none;
  color:var(--blue);
}
.b-icon{
  position: relative;
  top:40px;
  background: #fff;
  width: 30px;
  color: var(--blue);
  font-size: 34px;
  height: 30px;
  padding: .6em !important;
  border-radius: 50%;
  border:1px solid var(--blue);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

/* Services Dashboard */
.s-container{
  justify-content: space-around;
  margin:0 auto;
  width: 100%;
}
.s-section{
  text-align: center;
  width:100%;
  background:#fff;
  padding:0 !important;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}
.s-section div{
  height:100px;
  background: linear-gradient(to right, rgba(85,155,247,1) 0%, rgba(59,120,189,1) 100%);

}
.s-section ion-icon{
  padding: 0.5em;
  font-size: 35px;
  background: #609fff;
  color: #fff;
  border-radius: 50%;
  border: 10px solid #fff;
  position: relative;
  bottom: 43px;
}
.s-section a{
  display: block;
  color: #8f8f8f;
  font-weight: 500;
  position: relative;
  bottom: 40px;
  font-size: 22px;
}

/* Encyclopedia Dashboard */
.e-container{
  padding:0 !important;
  margin:0 auto !important;
}
.e-section{
  display: flex;
  width: 100%;
  padding:1em .5em !important;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);

}
.e-section *{
  margin:0 !important;
  text-align: center;
  align-self: center;
}

.e-section ion-icon{
  font-size: 30px;
  color: var(--blue);
}
.e-section a{
  width: 100%;
  text-align: start;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 500;
  color: #727272;
  padding-left: 0.3em !important;
}

.e-section .plus{
  width:40px;
  line-height: 15px;
  text-align: center;
  transition: all .3s ease-in-out
}
.e-section .plus ion-icon{
    font-size:25px;
}

/* Transistions */
.e-section .plus:hover{
  transform: rotate(360deg);
  transform-origin: center;
}

/* Forms */
.form-container{
  background:white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  padding:1.5em;
  margin:3em;
}
.form-field{
  margin:1.5em 0;
  padding-left: 3em !important;
  font-family: Montserrat;

}
.form-field label{
  font-family: Montserrat;
  font-weight: 500;
  font-size:14px;
  color:#4b4b54;
  margin: 0 !important;
  align-self: center;
}
.form-field input{
  border-bottom:.14em solid #f0f0f0;
  transition:all .3s ease-in-out;
  align-self: center;
}
.form-field input:focus{
  border-bottom:.14em solid var(--blue);
}

.form-field input[type="file"]{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.form-field .file-btn{
  padding: .5em 1em;
  background: var(--blue);
  color: white;
  border-radius: 2em;
}
.form-field h1{
  font-weight: 400;
  color:var(--blue);
}
.form-field .line{
  width:100%;
  height:2px;
  background: var(--blue);
}

.form-field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: 2px solid var(--blue);
    border-radius: 2em;
    font-weight: 500;
    color: #424242;
}

.form-container button[type="submit"]{
  padding: 0.7em 2em;
  background: white;
  color: var(--blue);
  font-family: Montserrat;
  font-weight: 500;
  margin: 0 auto;
  font-size: 16px;
  border: 2px solid var(--blue);
  border-radius: 2em;
  margin-top:1em;
  position: relative;
  top: 46px;
  transition:all .5s ease-in-out;
}
.form-container button[type="submit"]:hover{
  background:var(--blue);
  color:white;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Dashboard sections */
  .section{
    margin:1em .5em;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  }
  .sidebar {
    margin-left: -250px;
}
  .sidebar.active {
    margin-left: 0;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .err-num{
    width:45%;
  }
  .err-title{
    font-size:8vw;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

.add-button{
 padding-left:100vw;
 padding-top:-20px;
 bottom:0;
 position : absolute;
}
