/* General Css Fixes */
select,input{
  outline:none;
}


/*  Market index -- START */

/*  Market Navbar*/
.navbar-brand img{
  width:200px;
}

#exampleNavComponents a{
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid var(--blue);
  padding: .5em 1em;
  margin:0 .3em;
  transition: all .3s ease-in-out;
}
.main-nav{
  margin:0;
}
.main-nav a:hover{
  background: var(--blue);
  color:white;
  text-decoration: none;
}
#exampleNavComponents button{
  border:none;
  background: none;
}
/* Search engine form */
.search-engines{
  justify-content: space-between;
  background: var(--blue);
  padding:3em 0;
  display: flex;
  height:100vh
}
.switch-buttons{
  position: absolute;
  right:15px;
  padding: .5em 1em;
  margin: 0.9em 0;
  background: #d1e8e6;
}
.switch-buttons span{
  display: inline-block;
  font-size: 14px;
  color: var(--blue);
  font-family: Roboto;
  font-weight: 500;
  padding:.2em .5em;
  position: relative;
  z-index: 10;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.switch-buttons span:first-child{
  color:white;
}
.switch-buttons .layer{
  background: var(--blue);
  width: 45px;
  height: 25px;
  display: inline-block;
  position: absolute;
  bottom: 6px;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.se-container{
  margin:1rem;
  border: 1px solid #efefef;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.15);
  border-radius: 2PX;
  background: white;
  overflow: hidden
}
.se-header{
  padding:.5em;
}
.se-header .form-container{
  position: relative;
}
.se-header ion-icon{
  line-height: 30px;
  height: 30px;
  width: 30px;
  display: block;
  margin: 1.4em auto 0.8em auto;
  background: var(--blue);
  box-shadow: 0 2px 2px 0 #888888;
  padding: 1em;
  color: white;
  border-radius: 50%;
}
.se-header h1{
  text-align: center;
  margin: 0.1em 0 1em 0;
  font-family: Open Sans;
  font-weight: 600;
  color: #444444;
  font-size: 22px;
}
.search-form{
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  position: absolute;
}

.search-form .form-field{
  margin:1.5em 0;
  display: flex;
}
.search-form .form-field label{
  align-self: center;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  color: black;
  width: 100px
}
.search-form .form-field .selectbox{
  flex:1;
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding:0;
}
.search-form .form-field select,.search-form .form-field input{
  padding:.5em 0 .5em 1em;
  font-size:14px;
  border-radius: 2em;
  color: #444444;
  background: white;
  border: 2px solid var(--blue);
  font-family: Open Sans;
  font-weight: 600;
  margin: 0;
  transition: all .3s ease-in-out;
  /*  Hiding the select arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.search-form .form-field select::-ms-expand{
    display: none;
}
.search-form .form-field ion-icon{
  width: 16px;
  height: 16px;
  position: relative;
  top: 15px;
  right: 30px;
  color: var(--blue);
}
.search-form button{
  padding: .5em 1em;
  font-family: Open Sans;
  font-size: 15px;
  background: white;
  border: 2px solid var(--blue);
  color: var(--blue);
  border-radius: 0;
  font-weight: 600;
  margin: 2em auto 1em auto;
  display: block;
  transition:.5s all ease-in-out;
}
.search-form button:hover{
  background: var(--blue);
  border: 2px solid var(--blue);
  color:white;
}

.advanced-se{
  background: none;
  border: none;
  font-family: Open Sans;
  font-size: 14px;
  color: #a1a1a1;
  font-weight: 600;
  padding: 1em 0;
  display: block;
  text-align: center;
  transition:all .3s ease-in-out;
}
.advanced-se:hover{
  color:var(--blue);
  text-decoration:none;
}

/* Market : Recent articles  */

.recent-articles{
  margin: 2em auto;
}
.recent-nv,.recent-uv{
  justify-content: space-around;
  padding:2em 0;
  display: table;
  margin:0 -10px;
}

.article-container{
  -webkit-box-shadow: 0px 15px 21px -20px rgba(0,0,0,1);
  -moz-box-shadow: 0px 15px 21px -20px rgba(0,0,0,1);
  box-shadow: 0px 15px 21px -20px rgba(0,0,0,0.4);
  margin: 2em 10px;
  border: 1px solid   #e6e6e6;
  padding:0;
  display: table;
  outline:none;
}

.img-container{
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding:1em 1.5em;
  -webkit-box-shadow: inset 0px -170px 67px -81px rgba(0,0,0,0.88);
  -moz-box-shadow: inset 0px -170px 67px -81px rgba(0,0,0,0.88);
  box-shadow: inset 0px -170px 67px -81px rgba(0,0,0,0.88);
  transition:all .2s ease-in-out;
}
.img-container:hover{
  -webkit-box-shadow: inset 0px -189px 104px -41px rgba(0,0,0,0.95);
  -moz-box-shadow: inset 0px -189px 104px -41px rgba(0,0,0,0.95);
  box-shadow: inset 0px -189px 104px -41px rgba(0,0,0,0.95);
  padding:2em 1.5em;
}
.img-container span{
  font-family: Roboto;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  align-self: flex-end;
}
.article-infos{
  display:flex;
  justify-content: space-between;
  text-align: center;
  padding:1.5em 0;
}
.article-infos>div{
  flex-basis:23%;
  font-family: Roboto;
  font-size: 13px;
  font-weight: Bold;
  text-align: center;

}
.article-infos>div *{
  display:block;
  margin:0 auto;
}
.article-infos>div ion-icon{
  font-size:17px;
  color:var(--blue);
  margin-bottom:.3em;
}
#prev-arr,#next-arr{
  display:inline-block;
  font-size: 20px;
  color:var(--blue);
}

.section-header{
  display: flex;
  border-bottom:3px solid var(--blue);
}
.section-header>h1{
  font-family: Roboto;
  font-size: 25px;
  padding: 0.5em;
  flex:1;
}
.switch-type{
  align-self: center;
  background: #d1e8e6;
  padding: .6em;
  position: relative
}

.switch-type span{
  display: inline-block;
  font-size: 14px;
  color: var(--blue);
  font-family: Roboto;
  font-weight: 500;
  padding:.2em .5em;
  position: relative;
  z-index: 10;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer
}

.switch-type .layer{
  background: var(--blue);
  width: 45px;
  height: 25px;
  display: inline-block;
  position:absolute;
  bottom:6px;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
